#container {
  width: 95%;
  margin: 0 auto;
  display: block;
}

.logo {
  height: 75px;
  width: 200px;
  border: 1px solid black;
  background-color: yellow;
  float: left;
  margin-right: 5px;
}

.menu {
  height: 75px;
  border: 1px solid black;
  background-color: red;
  float: right;
  width: 99em;
}

.content1 {
  height: 700px;
  width: 200px;
  border: 1px solid black;
  float: left;
  background-color: green;
  margin-top: 15px;
}

.content2 {
  height: 700px;
  width: 85em;
  border: 1px solid black;
  float: left;
  background-color: lightgray;
  margin-left: 20px;
  margin-top: 15px;
}

.content3 {
  height: 700px;
  width: 200px;
  border: 1px solid black;
  float: right;
  background-color: skyblue;
  margin-top: 15px;
}

.footer {
  margin-top: 15px;
  height: 75px;
  width: 113em;
  border: 1px solid black;
  float: left;
  background-color: blue;
}