#container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.box {
  background-image: url("https://www.w3schools.com/css/img_mountains.jpg");
  width: 50%;
  border: 5px solid black;
  height: 250px;
  margin: 5px;
  border-radius: 10px;
}

.box-small {
  background-image: url("https://www.w3schools.com/css/paris.jpg");
  width: 20%;
  border: 5px solid black;
  height: 250px;
  margin: 5px;
  border-radius: 10px;
}